<div class="flex-none">
  <div class="container mx-auto py-4 flex space-x-3">
    <app-button [name]="'Add Project'"></app-button>
    <app-button [name]="'Add Issue'"></app-button>
    <app-search class="grow"></app-search>
    <app-button [name]="'User'"></app-button>
    <app-button [name]="'Logout'"></app-button>
  </div>
  <div class="container mx-auto mt-8">
    <div class="flex justify-center space-x-3 pb-4">
      <!-- OPEN -->
      <div class="rounded-md shadow px-5 py-3 bg-white leading-6 font-medium text-indigo-600 text-base">
        Open 5
      </div>
      <!-- IN PROGRESS -->
      <div class="rounded-md shadow px-5 py-3 bg-white leading-6 font-medium text-indigo-600 text-base">
        In Progress 6
      </div>
      <!-- CLOSED -->
      <div class="rounded-md shadow px-5 py-3 bg-white leading-6 font-medium text-indigo-600 text-base">
        Closed 10
      </div>
    </div>
  </div>
  <!-- MODAL -->
  <!-- <app-modal-add-project></app-modal-add-project> -->
  <!-- <app-modal-add-issue></app-modal-add-issue> -->
</div>