<div class="flex-none">
  <div class="container mx-auto py-4 flex space-x-3">
    <app-button [name]="'Add Project'" [routerLink]="[{ outlets: { addProject: ['projects']}}]"></app-button>
    <app-button [name]="'Add Issue'"></app-button>
    <app-search class="grow"></app-search>
    <app-button [name]="'User'"></app-button>
    <app-button [name]="'Logout'"></app-button>
  </div>
  <div class="container mx-auto mt-8">
    <div class="flex justify-center space-x-3 pb-4">
      <app-issue-monitor [text]="'Open 5'"></app-issue-monitor>
      <app-issue-monitor [text]="'In Progress 6'"></app-issue-monitor>
      <app-issue-monitor [text]="'Closed 10'"></app-issue-monitor>
    </div>
  </div>
  <router-outlet name="addProject"></router-outlet>
</div>