<div class="bg-gray-200 h-screen">
  <!-- HEADER -->
  <div class="container mx-auto py-4 flex">
    <div class="grow flex">
      <!-- ADD PROJECT -->
      <div class="ml-3 inline-flex rounded-md shadow">
        <a href="#"
          class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-indigo-600 bg-white hover:bg-indigo-50">
          Add Project </a>
      </div>
      <!-- ADD ISSUE -->
      <div class="ml-3 inline-flex rounded-md shadow">
        <a href="#"
          class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-indigo-600 bg-white hover:bg-indigo-50">
          Add Issue </a>
      </div>
      <!-- SEARCH -->
      <div class="grow ml-3 inline-flex rounded-md shadow">
        <input type="text" name="company-website" id="company-website"
          class="focus:ring-indigo-500 focus:border-indigo-500 px-5 py-3 flex-1 block w-full rounded-md text-base font-medium border-gray-300"
          placeholder="Search">
      </div>
    </div>
    <div class="flex">
      <!-- USER ID  -->
      <div class="ml-3 inline-flex rounded-md shadow">
        <a href="#"
          class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-indigo-600 bg-white hover:bg-indigo-50">
          User </a>
      </div>
      <!-- LOGOUT button -->
      <div class="ml-3 inline-flex rounded-md shadow">
        <a href="#"
          class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-indigo-600 bg-white hover:bg-indigo-50">
          Logout </a>
      </div>
    </div>
  </div>

  <!-- ISSUE LIST -->
  <!-- ISSUE DETAILS -->
</div>